:root {
	--white-base: #ffffff;
	--black: #000000;
	--orange-base: #f86600;
	--orange-smooth: rgba(248, 102, 0, 0.15);
	--gray-30: #e3e5e5;
	--bucket-bg: #232526;
	--border: #9747ff;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	width: 100%;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	color: var(--white-base);
	background: var(--black);
	background-image: url(./assets/images/earth.png);
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: fixed;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #f86600;
	border-radius: 150px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(248, 102, 0, 0.75);
}

@media (max-width: 1200px) {
	body {
		background-image: none;
	}
}
